// Theme colors

$red: #D95D41;
$orange: #F28444;
$yellow: #F2DDB6;
$grey: #D9CEB0;
$blue: #85A2A6;
$blue-darkened: #5C7B7F;

$timing: .2s ease-in-out;

$tiny: 4px;
$xsmall: 8px;
$small: 12px;
$medium: 24px;
$large: 36px;

$icon-size: $medium;

$header-text: 'Concert One', sans-serif;
$subhead-text: 'Dosis', sans-serif;
$body-text: 'Open Sans', sans-serif;




// Global styles

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

// For switching between light / dark mode
.light-mode { .dark { display: none; } }
.dark-mode { .light { display: none; } }

body {
	display: flex;
	flex-direction: column;
	font-family: $body-text;
	transition: all $timing; // For switching between dark/light mode
}

header {
	align-items: center;
	background-color: $yellow;
	display: flex;
	justify-content: space-between;
	padding: $small $medium;
	transition: all $timing; // For switching between dark/light mode

	.logo img {
		height: 50px;
	}

	nav {
		display: flex;

		a, a:visited { 
			color: black; 
			text-decoration: none;
		}

		.option {
			margin: 0 $xsmall;
		}

		.option a::after {
			content: "";
			display: block;
			height: 6px;
			width: 100%;
		}

		.option:hover a:not(.current)::after {
			background-color: white;
		}

		.current::after {
			background-color: $red;
		}
	}
}

.container {
	flex: 1; // Pushes footer to bottom of page
}

footer {
	border-top: 1px $grey solid;
	display: flex;
	justify-content: space-between;
	padding: $medium $small;

	img {
		height: $icon-size;
		width: $icon-size;
	}

	.copy {
		display: inline-block;
		font-weight: bold;
		margin-right: $tiny;
	}

	.moon, .sun {
		cursor: pointer;
	}

	.soc-med a {
		display: inline-block;
		margin-left: $small;
	}
}

// Dark mode - Global

.dark-mode {
	color: white;
	background-color: black;

	header {
		background-color: $red;

		nav {
			a, a:visited { color: white; }

			.option:hover a:not(.current)::after  {
				background-color: $yellow;
			}

			.current::after {
				background-color: $blue;
			}
		}
	}

	footer {
		border-color: $blue;
	}
}




// Home

.home {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;

	.intro {
		color: $blue-darkened;
		font: 28px $header-text;
		margin-bottom: $small;
		text-transform: uppercase;
	}

	.name {
		width: 500px;
	}

	.job {
		font: 28px $subhead-text;
		letter-spacing: .2em;
	}

	.bio  {
		margin-top: $large;
		text-align: justify;
		width: 500px;
	}
}

// Dark mode - Home

.dark-mode {
	.intro { color: $blue; }
}




// Projects

.projects {
	max-width: 750px;

	h1 {
		color: $blue-darkened;
		font-family: 'Concert One', sans-serif;
		text-transform: uppercase;
	}
}

// Dark mode - Projects

.dark-mode {
	h1 { color: $blue; }
}




// About

.about {
	flex-direction: row;
	justify-content: space-between;

	.details {
		padding-left: 24px;
	}
}