* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.light-mode .dark {
  display: none;
}

.dark-mode .light {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  transition: all 0.2s ease-in-out;
}

header {
  align-items: center;
  background-color: #F2DDB6;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  transition: all 0.2s ease-in-out;
}
header .logo img {
  height: 50px;
}
header nav a, header nav a:visited {
  color: black;
  text-decoration: none;
}
header nav .option {
  display: inline-block;
  margin: 0 8px;
}
header nav .option a::after {
  content: "";
  display: block;
  height: 6px;
  width: 100%;
}
header nav .option:hover a:not(.current)::after {
  background-color: white;
}
header nav .current::after {
  background-color: #D95D41;
}
@media all and (max-width: 360px) {
  header {
    flex-direction: column;
  }
  header .logo {
    margin-bottom: 12px;
  }
}

.container {
  flex: 1;
}
.container h1 {
  color: #5C7B7F;
  font-family: "Concert One", sans-serif;
  margin-bottom: 8px;
  text-transform: uppercase;
}

footer {
  border-top: 1px #D9CEB0 solid;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
footer img {
  height: 24px;
  width: 24px;
}
footer .copy {
  display: inline-block;
  font-weight: bold;
  margin-right: 4px;
}
footer .moon, footer .sun {
  cursor: pointer;
}
footer .soc-med a {
  display: inline-block;
  margin-left: 12px;
}
footer .soc-med a:first-of-type {
  margin-left: 0;
}
@media all and (max-width: 500px) {
  footer .moon, footer .sun {
    display: none;
  }
}
@media all and (max-width: 360px) {
  footer {
    align-items: center;
    flex-direction: column;
    padding: 12px;
  }
  footer .soc-med {
    margin-top: 12px;
  }
}

.dark-mode {
  color: white;
  background-color: black;
}
.dark-mode header {
  background-color: #D95D41;
}
.dark-mode header nav a, .dark-mode header nav a:visited {
  color: white;
}
.dark-mode header nav .option:hover a:not(.current)::after {
  background-color: #F2DDB6;
}
.dark-mode header nav .current::after {
  background-color: #85A2A6;
}
.dark-mode .container h1 {
  color: #85A2A6;
}
.dark-mode footer {
  border-color: #85A2A6;
}

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 0;
  width: 100%;
}
.home .content {
  text-align: center;
  width: 500px;
}
@media all and (max-width: 500px) {
  .home .content {
    box-sizing: border-box;
    padding: 24px 24px;
    width: 100%;
  }
}
.home .intro {
  color: #5C7B7F;
  font: 28px "Concert One", sans-serif;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.home .name {
  width: 100%;
}
.home .job {
  font: 28px "Dosis", sans-serif;
  letter-spacing: 0.2em;
}
.home .bio {
  margin-top: 36px;
  text-align: justify;
  width: 100%;
}

.dark-mode .intro {
  color: #85A2A6;
}

.projects {
  padding: 24px;
}
.projects .content {
  max-width: 700px;
  margin: 0 auto;
}
.projects.favs {
  background-color: #D95D41;
}
.projects.favs h1 {
  color: white;
}
.projects.favs .project .preview .frame {
  border-color: white;
}
.projects.favs .project .preview img {
  background-color: #F28444;
}
.projects.favs .project .title {
  color: white;
}
.projects.favs .project .title:after {
  background-color: #F28444;
}
.projects.favs .project:hover .title:after {
  background-color: #5C7B7F;
}
.projects .project-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
@media all and (max-width: 400px) {
  .projects .project-list {
    align-items: center;
    flex-direction: column;
  }
}
.projects .project {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 12px;
}
.projects .project .preview {
  height: 150px;
  margin-bottom: 6px;
  position: relative;
  width: 150px;
}
.projects .project .preview .frame {
  position: absolute;
  border: 2px solid black;
  height: 146px;
  width: 146px;
  z-index: 1;
}
.projects .project .preview img {
  background-color: #F2DDB6;
  height: 100%;
  left: 6px;
  position: relative;
  top: 6px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.projects .project .title {
  font: 18px "Dosis", sans-serif;
  width: fit-content;
}
.projects .project .title:after {
  background-color: #F2DDB6;
  content: "";
  display: block;
  height: 10px;
  margin-left: -2px;
  margin-top: -9px;
  transition: all 0.2s ease-in-out;
  width: calc(100% + 4px);
}
.projects .project:hover .preview img {
  left: 0;
  top: 0;
}
.projects .project:hover .title:after {
  background-color: #D9CEB0;
}

.dark-mode .favs {
  background-color: #85A2A6;
}
.dark-mode .favs .project .preview .frame {
  border-color: black;
}
.dark-mode .favs .project .preview img {
  background-color: #F2DDB6;
}
.dark-mode .project .preview .frame {
  border-color: white;
}
.dark-mode .project .preview img {
  background-color: #D95D41;
}
.dark-mode .project .title:after {
  background-color: #D95D41;
}
.dark-mode .project:hover .title:after {
  background-color: #5C7B7F;
}

.work .button {
  align-items: center;
  color: #D95D41;
  display: block;
  font: 18px "Dosis", sans-serif;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  margin: 24px auto 30px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 180px;
}
.work .button .frame {
  border: 2px #D95D41 solid;
  box-sizing: border-box;
  height: 50px;
  position: absolute;
  width: 180px;
  z-index: 1;
}
.work .button .button-content {
  align-items: center;
  background-color: #F2DDB6;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: center;
  left: 6px;
  padding-bottom: 12px;
  padding-right: 12px;
  position: relative;
  top: 6px;
  transition: all 0.2s ease-in-out;
  width: 180px;
}
.work .button:hover .button-content {
  left: 0;
  padding-bottom: 0;
  padding-right: 0;
  top: 0;
}
.work h2 {
  font: 24px "Dosis", sans-serif;
  font-weight: bold;
}
.work h2 .details {
  display: inline-block;
  font: 16px "Open Sans", sans-serif;
  margin-left: 8px;
}
.work h3 {
  font: 16px "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 8px;
}
.work p {
  font-size: 14px;
  margin-bottom: 8px;
}
.work .content {
  margin: 0 auto;
  max-width: 950px;
  padding: 0 24px;
}
.work .content .section {
  border-top: 1px #D9CEB0 solid;
  padding: 24px 0;
}
.work .content .section .row {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.work .content a {
  color: black;
  display: inline-block;
  text-decoration: none;
}
.work .content a:after {
  background-color: #F2DDB6;
  content: "";
  display: block;
  height: 8px;
  margin-top: -8px;
  width: 100%;
}
.work .content a:hover:after {
  background-color: #D9CEB0;
}
.work .content .location {
  position: relative;
}
@media all and (max-width: 650px) {
  .work .content .location {
    display: none;
  }
}
.work .content .location .label {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: white;
  font-weight: bold;
  left: 0;
  margin: auto;
  padding: 0 4px;
  position: absolute;
  right: 0;
  width: fit-content;
}
.work .content .location img {
  width: 200px;
}
.work .content .location .state {
  fill: #85A2A6;
}

.dark-mode .content a {
  color: white;
}
.dark-mode .content a:after {
  background-color: #D95D41;
}
.dark-mode .content a:hover:after {
  background-color: #85A2A6;
}
.dark-mode .content .location .label {
  background-color: rgba(242, 221, 182, 0.8);
  color: black;
}

.about {
  flex-direction: row;
  justify-content: space-between;
}
.about .photos {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  overflow: hidden;
  width: 100%;
}
.about .photos a {
  display: block;
  min-width: 100px;
  width: 10%;
}
.about .photos a img {
  width: 100%;
}
.about .overview {
  display: flex;
  margin: 0 auto;
  max-width: 950px;
  padding-left: 24px;
}
.about .overview p {
  padding: 12px 12px 12px 0;
}
.about .overview a {
  color: black;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.about .overview a:after {
  background-color: #F2DDB6;
  content: "";
  display: block;
  height: 8px;
  margin-top: -8px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.about .overview a:hover:after {
  background-color: #D9CEB0;
}
@media all and (max-width: 680px) {
  .about .overview {
    align-items: center;
    flex-direction: column;
  }
  .about .overview .face {
    margin-top: 24px;
  }
}

.dark-mode .overview a {
  color: white;
}
.dark-mode .overview a:after {
  background-color: #D95D41;
}
.dark-mode .overview a:hover:after {
  background-color: #5C7B7F;
}

/*# sourceMappingURL=styles.css.map */
