// Theme colors

$red: #D95D41;
$orange: #F28444;
$yellow: #F2DDB6;
$grey: #D9CEB0;
$blue: #85A2A6;
$blue-darkened: #5C7B7F;

$timing: .2s ease-in-out;

$tiny: 4px;
$xsmall: 8px;
$small: 12px;
$medium: 24px;
$large: 36px;

$icon-size: $medium;

$header-text: 'Concert One', sans-serif;
$subhead-text: 'Dosis', sans-serif;
$body-text: 'Open Sans', sans-serif;

$small-screen-bp: 500px;
$stack-controls-bp: 360px;
$center-projects-bp: 400px;




// Global styles

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

// For switching between light / dark mode
.light-mode { .dark { display: none; } }
.dark-mode { .light { display: none; } }

body {
	display: flex;
	flex-direction: column;
	font-family: $body-text;
	transition: all $timing; // For switching between dark/light mode
}

header {
	align-items: center;
	background-color: $yellow;
	display: flex;
	justify-content: space-between;
	padding: $small $medium;
	transition: all $timing; // For switching between dark/light mode

	.logo img {
		height: 50px;
	}

	nav {
		a, a:visited { 
			color: black; 
			text-decoration: none;
		}

		.option {
			display: inline-block;
			margin: 0 $xsmall;
		}

		.option a::after {
			content: "";
			display: block;
			height: 6px;
			width: 100%;
		}

		.option:hover a:not(.current)::after {
			background-color: white;
		}

		.current::after {
			background-color: $red;
		}
	}

	@media all and (max-width: $stack-controls-bp) {
		flex-direction: column;

		.logo {
			margin-bottom: $small;
		}
	}
}

.container {
	flex: 1; // Pushes footer to bottom of page
	padding: $medium 0;
}

footer {
	border-top: 1px $grey solid;
	display: flex;
	justify-content: space-between;
	padding: $medium;

	img {
		height: $icon-size;
		width: $icon-size;
	}

	.copy {
		display: inline-block;
		font-weight: bold;
		margin-right: $tiny;
	}

	.moon, .sun {
		cursor: pointer;
	}

	.soc-med a {
		display: inline-block;
		margin-left: $small;

		&:first-of-type {
			margin-left: 0;
		}
	}

	@media all and (max-width: $small-screen-bp) {
		.moon, .sun {
			display: none;
		}
	}

	@media all and (max-width: $stack-controls-bp) {
		align-items: center;
		flex-direction: column;
		padding: $small;

		.soc-med {
			margin-top: $small;
		}
	}
}

// Dark mode - Global

.dark-mode {
	color: white;
	background-color: black;

	header {
		background-color: $red;

		nav {
			a, a:visited { color: white; }

			.option:hover a:not(.current)::after  {
				background-color: $yellow;
			}

			.current::after {
				background-color: $blue;
			}
		}
	}

	footer {
		border-color: $blue;
	}
}




// Home

.home {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;

	.content {
		text-align: center;
		width: 500px;

		@media all and (max-width: $small-screen-bp) {
			box-sizing: border-box;
			padding: $medium $medium;
			width: 100%;
		}
	}

	.intro {
		color: $blue-darkened;
		font: 28px $header-text;
		margin-bottom: $small;
		text-transform: uppercase;
	}

	.name {
		width: 100%;
	}

	.job {
		font: 28px $subhead-text;
		letter-spacing: .2em;
	}

	.bio  {
		margin-top: $large;
		text-align: justify;
		width: 100%;
	}
}

// Dark mode - Home

.dark-mode {
	.intro { color: $blue; }
}




// Projects

.projects {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 $medium;

	h1 {
		color: $blue-darkened;
		font-family: 'Concert One', sans-serif;
		margin-bottom: $xsmall;
		text-transform: uppercase;
	}

	.project-list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: $medium;

		@media all and (max-width: $center-projects-bp) {
			align-items: center;
			flex-direction: column;
		}
	}

	.project {
		align-items: center;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		margin: $small;

		$tile-size: 150px;
		$border-size: 2px;
		$frame-size: $tile-size - (2 * $border-size);
		$spacing-size: 6px;

		.preview {
			height: $tile-size;
			margin-bottom: $spacing-size;
			position: relative;
			width: $tile-size;

			.frame {
				position: absolute;
				border: $border-size solid black;
				height: $frame-size;
				width: $frame-size;
				z-index: 1; // Layer frame above image
			}

			img {
				background-color: $yellow; // Placeholder if image is missing
				height: 100%;
				left: $spacing-size;
				position: relative;
				top: $spacing-size;
				transition: all $timing;
				width: 100%;
			}
		}

		.title {
			font: 18px $subhead-text;
			width: fit-content;

			&:after {
				background-color: $yellow;
				content: "";
				display: block;
				height: 10px;
				margin-left: -2px; // Center highlight (see next comment)
				margin-top: -9px;
				transition: all $timing;
				width: calc(100% + 4px); // Make highlight slightly wider than text
			}
		}

		&:hover {
			.preview img {
				left: 0;
				top: 0;
			}

			.title:after {
				background-color: $grey;
			}
		}
	}
}

// Dark mode - Projects

.dark-mode {
	h1 { color: $blue; }

	.project {
		.preview {
			.frame {
				border-color: white;
			}

			img {
				background-color: $red;
			}
		}

		.title:after {
			background-color: $red;
		}

		&:hover .title:after {
			background-color: $blue-darkened;
		}
	}
}




// About

.about {
	flex-direction: row;
	justify-content: space-between;

	.details {
		padding-left: 24px;
	}
}